@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #256b74;
}

.bg-highlight {
  background-color: var(--highlight);
}

.text-highlight {
  color: var(--highlight);
}

a {
  color: inherit;
  text-decoration: none;
}

.bt-green {
  background-color: #D8F0F3;
  color: #256b74;
}

.bt-red {
  background-color: #F8D3D3;
  color: #CD3736;
}

.bt-yellow {
  background-color: #FBF4EA;
  color: #D69430;
}